.lookbook-wrapper
	width: 100%
	display: flex
	justify-content: space-between
	margin-bottom: 124px

.lookbook
	display: flex
	flex-direction: column
	align-items: flex-end
	width: 32%
	padding: 100px 55px 140px
	box-sizing: border-box
	background-color: #f8f8f8
	position: relative

.lookbook__men:before
	content: ""
	width: 237px
	height: 489px
	background-image: url(../img/lookbook-men.png)
	position: absolute
	bottom: 0
	left: 0

.lookbook__women:before
	content: ""
	width: 237px
	height: 489px
	background-image: url(../img/lookbook-women.png)
	position: absolute
	bottom: 0
	left: 0

.lookbook__you:before
	content: ""
	width: 237px
	height: 489px
	background-image: url(../img/lookbook-you.png)
	position: absolute
	bottom: 0
	left: 10px

.lookbook__title
	width: 290px
	font-family: "Montserrat-Regular", Arial, sans-serif
	font-size: 48px
	text-transform: uppercase
	text-align: right
	color: #575153

.lookbook__title-bold
	font-family: "Montserrat-Bold", Arial, sans-serif

.lookbook__description
	width: 325px
	font-family: "Roboto-Regular", Arial, sans-serif
	font-size: 15px
	line-height: 30px
	text-align: right
	color: #727272
	margin-bottom: 35px