@font-face {
  font-family: "Montserrat-Regular";
  src: url("../font/Montserrat-Regular/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Montserrat-Regular/Montserrat-Regular.woff") format("woff"), url("../font/Montserrat-Regular/Montserrat-Regular.ttf") format("truetype"), url("../font/Montserrat-Regular/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../font/Montserrat-Bold/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../font/Montserrat-Bold/Montserrat-Bold.woff") format("woff"), url("../font/Montserrat-Bold/Montserrat-Bold.ttf") format("truetype"), url("../font/Montserrat-Bold/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Montserrat-Light";
  src: url("../font/Montserrat-Light/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../font/Montserrat-Light/Montserrat-Light.woff") format("woff"), url("../font/Montserrat-Light/Montserrat-Light.ttf") format("truetype"), url("../font/Montserrat-Light/Montserrat-Light.svg#Montserrat-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Regular";
  src: url("../font/Roboto-Regular/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Roboto-Regular/Roboto-Regular.woff") format("woff"), url("../font/Roboto-Regular/Roboto-Regular.ttf") format("truetype"), url("../font/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "fontello";
  src: url("../font/fontello/fontello.eot?8371462");
  src: url("../font/fontello/fontello.eot?8371462#iefix") format("embedded-opentype"), url("../font/fontello/fontello.woff2?8371462") format("woff2"), url("../font/fontello/fontello.woff?8371462") format("woff"), url("../font/fontello/fontello.ttf?8371462") format("truetype"), url("../font/fontello/fontello.svg?8371462#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8 */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120% */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3) */ }

.icon-search:before {
  content: "\e800"; }

.icon-basket:before {
  content: "\e801"; }

.icon-heart-empty:before {
  content: "\e802"; }

.icon-loop:before {
  content: "\e803"; }

.icon-location:before {
  content: "\e804"; }

.icon-phone:before {
  content: "\e805"; }

.icon-link:before {
  content: "\e806"; }

.icon-mail:before {
  content: "\e807"; }

.icon-clock:before {
  content: "\e808"; }

.icon-twitter:before {
  content: "\f099"; }

.icon-facebook:before {
  content: "\f09a"; }

.icon-pinterest-circled:before {
  content: "\f0d2"; }

.icon-gplus:before {
  content: "\f0d5"; }

.icon-info:before {
  content: "\f129"; }

.icon-instagram:before {
  content: "\f16d"; }

body {
  margin: 0; }

ul {
  margin: 0;
  padding: 0; }

.hide-scroll {
  overflow: hidden; }

.container {
  width: 1170px;
  box-sizing: border-box;
  padding: 0 15px;
  margin: 0 auto; }

.btn {
  text-decoration: none;
  padding: 20px 30px;
  border: 2px solid #737373;
  box-sizing: border-box;
  text-transform: uppercase;
  color: #454647;
  font-family: "Montserrat-Regular", Arial, sans-serif;
  font-size: 16px;
  transition: all .2s; }

.btn__slider {
  position: absolute;
  bottom: 15%;
  right: 25%; }

.btn:hover {
  background-color: #00c8c8;
  color: white;
  border-color: #00c8c8; }

.btn__info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: #727272;
  border-radius: 50%;
  color: white;
  cursor: pointer; }

.btn__info-lookbook {
  background-color: white;
  color: black;
  border: 0; }

.btn__info:before {
  margin: 0;
  font-size: 15px; }

.btn__info:hover {
  background-color: #00c8c8; }

.btn__locations {
  display: block;
  width: 218px;
  text-align: center; }

.btn__locations_active {
  background-color: #00c8c8;
  color: white;
  border-color: #00c8c8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.link {
  display: block;
  padding: 10px 20px;
  padding-bottom: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  transition: all .2s; }

.link_no-link {
  pointer-events: none; }

.link:hover {
  color: #00c8c8; }

.link__arrow:after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-bottom: 2px solid #989898;
  border-left: 2px solid #989898;
  position: absolute;
  bottom: 2px;
  left: 23px;
  transform: rotate(-45deg); }

.link__arrow:hover:after {
  border-bottom: 2px solid #00c8c8;
  border-left: 2px solid #00c8c8; }

.link__item-list {
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
  font-family: "Montserrat-Light", Arial, sans-serif;
  font-size: 13px;
  color: #575153;
  text-transform: none; }

.link__item-list-title {
  font-family: "Montserrat-Regular", Arial, sans-serif;
  color: #575153;
  text-transform: uppercase; }

.link__goods-nav {
  padding: 15px 26px;
  font-family: "Montserrat-Regular", Arial, sans-serif;
  font-size: 13px;
  color: #727272; }

.link__footer-title {
  margin-bottom: 15px; }

.link__footer {
  padding: 8px 0; }

.link__list-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: white;
  box-sizing: border-box;
  position: relative;
  transition: all .3s; }

.link__list-banner:before {
  margin: 0; }

.link__list-banner:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: all .3s; }

.link__list-banner:hover {
  color: white;
  transform: scale(1.1); }

.link__list-banner:hover:after {
  width: 100%; }

.link__content {
  display: inline-block;
  padding: 0;
  text-transform: none;
  color: #00c8c8;
  position: relative;
  transition: all .2s; }

.link__content:hover {
  transform: scale(1.05); }

.link__content:after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #00c8c8;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: all .2s; }

.link__content:hover:after {
  width: 100%; }

.link__breadcrumbs {
  color: white;
  padding: 0;
  margin-right: 25px;
  margin-left: 15px;
  position: relative; }

.link__breadcrumbs:after {
  content: "";
  width: 10px;
  height: 2px;
  background-color: white;
  position: absolute;
  top: calc(50% - 1px);
  right: -25px; }

.link__breadcrumbs:before {
  content: "";
  width: 0;
  height: 2px;
  background-color: #00c8c8;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: all .2s; }

.link__breadcrumbs:hover:before {
  width: 100%; }

.header__top {
  display: flex;
  background-color: #333;
  min-height: 45px; }

.header__top-wrapper {
  display: flex;
  justify-content: flex-end;
  min-height: 100%; }

.currency {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 115px;
  position: relative;
  margin-right: 20px; }

.currency:after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-bottom: 2px solid #777;
  border-left: 2px solid #777;
  position: absolute;
  top: calc(50% - 4px);
  right: 0;
  transform: rotate(-45deg);
  z-index: 1; }

.currency-desription {
  font-family: "Montserrat-Regular", Arial, sans-serif;
  font-size: 13px;
  color: #777; }

.currency-select {
  padding: 5px;
  padding-right: 17px;
  background-color: transparent;
  font-family: "Montserrat-Regular", Arial, sans-serif;
  font-size: 13px;
  color: #777;
  border: 0;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  position: relative;
  z-index: 9; }

.header__top-search {
  margin-right: auto; }

.search {
  padding-left: 10px;
  width: 250px;
  height: 100%;
  border: 0;
  background-color: transparent;
  outline: 0;
  transition: all .2s; }

.search:focus {
  background-color: #00c8c8;
  color: white; }

.search:focus.search::placeholder {
  color: white; }

.authorization {
  display: flex;
  justify-content: center; }

.authorization__item {
  display: block;
  font-family: "Montserrat-Regular", Arial, sans-serif;
  font-size: 13px;
  color: #777;
  padding: 10px 25px;
  text-decoration: none;
  text-align: center;
  line-height: 24px;
  transition: all .2s; }

.authorization__item:hover {
  color: white;
  background-color: #00c8c8; }

.basket {
  position: relative;
  padding-right: 45px; }

.basket:before {
  font-size: 15px;
  margin-right: 20px; }

.basket:after {
  content: "";
  width: 5px;
  height: 5px;
  border-bottom: 2px solid #777;
  border-left: 2px solid #777;
  transform: rotate(-45deg);
  position: absolute;
  top: calc(50% - 5px);
  right: 25px;
  transition: all .5s; }

.basket:hover:after {
  border-color: white; }

.header__bot {
  position: relative;
  z-index: 9; }

.header__bot-wrapper {
  display: flex;
  align-items: center;
  padding-top: 40px;
  position: relative;
  z-index: 99; }

.logo {
  display: block;
  max-width: 222px;
  padding-bottom: 10px;
  margin-right: auto;
  font-family: "Montserrat-Regular", Arial, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  position: relative;
  transition: all .3s; }

.logo:after {
  content: "";
  width: 0;
  height: 2px;
  background-color: black;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4px;
  margin: 0 auto;
  transition: all .3s; }

.logo:hover {
  transform: scale(1.1, 1.1); }

.logo:hover:after {
  width: 100%; }

.logo_text-bold {
  font-family: "Montserrat-Bold", Arial, sans-serif; }

.menu {
  display: flex;
  list-style-type: none; }

.menu__item {
  font-family: "Montserrat-Regular", Arial, sans-serif;
  font-size: 13px;
  position: relative; }

.menu__item:hover > .sub-menu {
  width: 465px;
  height: auto;
  transform: scale(1); }

.menu__item:hover > .sub-menu .sub-menu__item {
  transform: scale(1);
  transition: all .8s; }

.menu__item:hover > .sub-menu .sub-menu__banner {
  transform: scale(1);
  transition: all .8s; }

.sub-menu {
  display: flex;
  flex-wrap: wrap;
  width: 0;
  height: auto;
  padding: 30px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  background-color: white;
  list-style-type: none;
  position: absolute;
  top: 41px;
  transform: scale(0);
  transition: all .4s ease-in-out; }

.sub-menu__mens {
  left: 20px;
  transform-origin: left top; }

.sub-menu__womens {
  left: -60px;
  transform-origin: right top; }

.sub-menu__local-stores {
  left: auto;
  right: -40px;
  transform-origin: center top; }

.sub-menu__look-book {
  left: auto;
  right: 0;
  transform-origin: right top; }

.sub-menu__item {
  width: 48%;
  padding-right: 2%;
  margin-bottom: 20px;
  transform: scale(0);
  transform-origin: center;
  transition: all .2s; }

.sub-menu__item-list {
  width: 100%;
  list-style-type: none; }

.sub-menu__banner {
  width: 100%;
  margin-top: 30px;
  transform: scale(0);
  transform-origin: center;
  transition: all .2s; }

.banner {
  padding: 65px;
  background-color: #333; }

.banner__content {
  font-family: "Montserrat-Regular", Arial, sans-serif;
  font-size: 36px;
  color: white;
  text-transform: uppercase;
  text-align: center; }

.banner__text {
  font-family: "Montserrat-Bold", Arial, sans-serif; }

.menu-burger {
  display: none;
  width: 30px;
  height: 20px;
  position: relative; }

.menu-burger__item {
  display: block;
  width: 100%;
  height: 4px;
  background-color: black;
  position: absolute;
  left: 0;
  transition: all .3s; }

.menu-burger__line-top {
  top: 0; }

.menu-burger__line-mid {
  top: calc(50% - 2px); }

.menu-burger__line-bot {
  bottom: 0; }

.intro {
  width: 100%;
  min-height: 450px;
  padding-top: 170px;
  box-sizing: border-box;
  margin-top: 35px;
  margin-bottom: 65px;
  background: url(../img/intro-bg.jpg) no-repeat;
  position: relative; }

.intro__lookbook:after {
  content: "";
  max-width: 1170px;
  height: 2px;
  background-color: #eee;
  position: absolute;
  bottom: -65px;
  right: 0;
  left: 0;
  margin: 0 auto; }

.intro__title {
  font-family: "Montserrat-Light", Arial, sans-serif;
  font-size: 48px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  margin-bottom: 50px; }

.intro__title_bold {
  font-family: "Montserrat-Bold", Arial, sans-serif; }

.intro-description {
  font-family: "Montserrat-Regular", Arial, sans-serif;
  font-size: 30px;
  color: white;
  text-align: center;
  text-transform: uppercase; }

.content_mar-b-75 {
  margin-bottom: 75px; }

.content_mar-b-60 {
  margin-bottom: 60px; }

.content_mar-b-30 {
  margin-bottom: 30px; }

.content__brand {
  display: flex;
  justify-content: space-between;
  margin-bottom: 114px; }

.content__local-stores {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px; }

.content__item {
  width: 49%; }

.img__content {
  max-width: 100%;
  max-height: 100%; }

.content__img {
  width: 100%; }

.content__hand-designed-right {
  display: none; }

.content__article {
  font-family: "Montserrat-Regular", Arial, sans-serif; }

.content__article_pad-t-65 {
  padding-top: 65px; }

.content__title {
  font-size: 18px;
  text-transform: uppercase;
  color: #575153;
  margin-bottom: 30px; }

.content__sub-title {
  font-size: 13px;
  color: #727272;
  text-transform: uppercase;
  margin-bottom: 20px; }

.content__description {
  font-family: "Roboto-Regular", Arial, sans-serif;
  font-size: 15px;
  color: #8e8c8c; }

.content__description_color {
  color: #33d3d3; }

.content-awards {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.content-awards__item {
  margin-bottom: 15px; }

.locations {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.locations__item {
  width: 30%; }

.locations__address-details {
  width: 100%;
  margin-bottom: 30px; }

.description__locations {
  margin-bottom: 30px; }

.location-details {
  width: 100%;
  max-height: 530px;
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
  margin-bottom: 124px; }

.map {
  width: 75%; }

.map__item {
  width: 100%;
  max-height: 530px; }

.address-details {
  width: 25%;
  padding: 43px; }

.list-adress-details {
  list-style-type: none;
  font-family: "Montserrat-Light", Arial, sans-serif;
  font-size: 14px;
  color: #8e8c8c; }

.list-adress-details__item {
  position: relative;
  padding-left: 30px;
  margin-bottom: 20px; }

.list-adress-details__item:last-child {
  margin-bottom: 0; }

.list-adress-details__item:before {
  margin: 0;
  font-size: 18px;
  position: absolute;
  top: calc(50% - 9px);
  left: 0; }

.slider {
  width: 100%;
  position: relative;
  top: -81px;
  z-index: 1; }

.slider:after {
  content: "";
  max-width: 1170px;
  height: 2px;
  background-color: #eee;
  position: absolute;
  bottom: -81px;
  left: 0;
  right: 0;
  margin: 0 auto; }

.slider__item {
  width: 100%;
  height: 100vh;
  background-size: 100% 100%;
  position: relative; }

.slider__men-collection {
  background-image: url(../img/slider-img-1.jpg); }

.slider__women-collection {
  background-image: url(../img/slider-img-2.jpg); }

.slider__women-collection-second {
  background-image: url(../img/slider-img-3.jpg); }

.goods {
  padding-top: 50px; }

.goods__nav {
  padding-bottom: 50px; }

.list__goods-nav {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none; }

.goods__content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
  margin-bottom: 60px;
  position: relative; }

.goods__content-lookbook {
  flex-wrap: wrap; }

.goods__content:after {
  content: "";
  max-width: 1170px;
  height: 2px;
  background-color: #eee;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto; }

.goods__left-side,
.goods__right-side {
  width: 49%;
  display: flex;
  flex-wrap: wrap; }

.goods__item {
  margin-right: 2%;
  margin-bottom: 20px; }

.goods__item_mar-r-0 {
  margin-right: 0; }

.goods-card {
  position: relative;
  transition: all .1s; }

.goods-card:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transition: all .6s; }

.goods-card:hover > .info {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: scale(1);
  transition: all .5s; }

.goods-card:hover > .info__lookbook {
  box-shadow: none; }

.goods-card:hover > .info > .info__title {
  transform: scale(1);
  transition: all .7s; }

.goods-card:hover > .info > .info__description {
  transform: scale(1);
  transition: all .9s; }

.goods-card:hover > .info > .info__btn-wrapper {
  transform: scale(1);
  transition: all 1.1s; }

.goods-card__title {
  font-family: "Montserrat-Light", Arial, sans-serif;
  font-size: 21px;
  color: #9a9a9a;
  position: absolute;
  top: 5px;
  left: 5px; }

.goods-card__title-lookbook {
  text-transform: uppercase;
  font-size: 13px; }

.goods-card__home_sm {
  width: 49%; }

.goods-card__home_lg {
  width: 100%; }

.goods-card__lookbook_sm {
  width: 22%; }

.goods-card__img {
  width: 100%;
  text-align: center; }

.goods-card__img img {
  display: block;
  max-width: 100%;
  max-height: 100%; }

.goods-card__sm > .goods-card__img {
  width: 100%; }

.goods-card__lg > .goods-card__img {
  width: 100%; }

.goods-card__info {
  padding: 10px 55px 20px; }

.info {
  width: 100%;
  box-sizing: border-box;
  font-family: "Montserrat-Regular", Arial, sans-serif;
  text-align: center;
  background-color: white;
  position: absolute;
  transform: scale(0);
  transform-origin: center top;
  transition: all .5s;
  z-index: 99; }

.info__lookbook {
  background-color: transparent;
  bottom: 80px;
  left: 0;
  right: 0;
  margin: 0 auto; }

.info__title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 13px;
  color: #727272;
  transform: scale(0);
  transform-origin: center center;
  transition: all .2s; }

.info__description {
  max-width: 150px;
  margin: 0 auto;
  font-size: 12px;
  color: #969494;
  margin-bottom: 15px;
  transform: scale(0);
  transform-origin: center center;
  transition: all .2s; }

.info__btn-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 100px;
  margin: 0 auto;
  transform: scale(0);
  transform-origin: center center;
  transition: all .2s; }

.info__btn-wrapper-lookbook {
  max-width: 70px; }

.btn__info.icon-loop:before {
  margin-bottom: 2px; }

.lookbook-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 124px; }

.lookbook {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 32%;
  padding: 100px 55px 140px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  position: relative; }

.lookbook__men:before {
  content: "";
  width: 237px;
  height: 489px;
  background-image: url(../img/lookbook-men.png);
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0; }

.lookbook__women:before {
  content: "";
  width: 237px;
  height: 489px;
  background-image: url(../img/lookbook-women.png);
  position: absolute;
  bottom: 0;
  left: 0; }

.lookbook__you:before {
  content: "";
  width: 237px;
  height: 489px;
  background-image: url(../img/lookbook-you.png);
  position: absolute;
  bottom: 0;
  left: 10px; }

.lookbook__title,
.banner__title {
  width: 290px;
  font-family: "Montserrat-Regular", Arial, sans-serif;
  font-size: 48px;
  text-transform: uppercase;
  text-align: right;
  color: #575153; }

.banner__title {
  width: 500px;
  text-align: left;
  margin-bottom: 30px; }

.lookbook__title-bold,
.banner__title-bold {
  font-family: "Montserrat-Bold", Arial, sans-serif; }

.banner__sub-title {
  font-family: "Montserrat-Regular", Arial, sans-serif;
  font-size: 13px;
  color: #727272;
  text-transform: uppercase;
  margin-bottom: 20px; }

.lookbook__description,
.banner__description {
  width: 325px;
  font-family: "Roboto-Regular", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  text-align: right;
  color: #727272;
  margin-bottom: 35px; }

.banner__description {
  width: 500px;
  text-align: left;
  margin-bottom: 30px;
  margin-top: 0;
  color: #8e8c8c; }

.banner__lookbook {
  width: 100%;
  padding: 60px 15px;
  background: no-repeat;
  background-position: center;
  background-size: 100%; }

.breadcrumbs {
  display: flex;
  justify-content: center;
  list-style-type: none; }

.breadcrumbs__item:first-child > .link__breadcrumbs {
  margin-left: 0; }

.breadcrumbs__item:last-child > .link__breadcrumbs {
  margin-right: 0; }

.breadcrumbs__item:last-child > .link__breadcrumbs:after {
  display: none; }

.footer__wrapper {
  background-color: #f8f8f8;
  padding-top: 65px; }

.footer__sub-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 65px; }

.list-contact__title {
  font-family: "Montserrat-Regular", Arial, sans-serif;
  font-size: 13px;
  color: #575153;
  text-transform: uppercase;
  padding: 10px 0;
  margin-bottom: 15px; }

.list-banner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.footer__banners {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px; }

.banner__footer {
  width: 38%; }

.banner__text_display {
  display: block; }

.banner_bg-blue {
  background-color: #00c8c8; }

.banner__list {
  list-style-type: none; }

.copyright {
  min-height: 45px;
  background-color: #333; }

.copyright__wrapper {
  min-height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.copyright__item {
  font-family: "Montserrat-Regular", Arial, sans-serif;
  font-size: 13px;
  color: #929292;
  margin-right: 30px; }

.copyright__item_mar-r-auto {
  margin-right: auto; }

@media (max-width: 1170px) {
  .container {
    width: 750px; }
  .btn {
    padding: 20px;
    font-size: 12px; } }

@media (max-width: 750px) {
  .container {
    width: 320px; }
  .btn {
    padding: 15px; }
  .btn__locations {
    margin: 0 auto; } }

@media (max-width: 320px) {
  .container {
    min-width: 320px; } }

@media (max-width: 1170px) {
  .logo {
    font-size: 20px; }
  .authorization__item {
    padding: 10px 20px; }
  .menu-burger {
    display: block; }
  .menu-burger_active {
    height: 25px;
    z-index: 999; }
  .menu-burger_active > .menu-burger__line-top {
    transform-origin: center right;
    transform: rotate(-45deg); }
  .menu-burger_active > .menu-burger__line-mid {
    width: 0; }
  .menu-burger_active > .menu-burger__line-bot {
    transform-origin: center right;
    transform: rotate(45deg); }
  .menu-burger_active > .menu-burger__item {
    background-color: white; }
  .menu {
    display: block;
    width: 100vw;
    height: calc(100vh - 40px);
    padding-top: 40px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.85);
    overflow-y: scroll;
    z-index: 99;
    transform: scale(0);
    transition: all .2s; }
  .menu-burger_active + .menu {
    transform: scale(1); }
  .sub-menu {
    width: auto;
    height: auto;
    justify-content: space-around;
    box-sizing: border-box;
    transform: scale(0);
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.05); }
  .menu__item:hover > .sub-menu {
    width: auto;
    height: auto;
    transform: scale(0); }
  .sub-menu_active {
    width: auto;
    position: static;
    transform: scale(1) !important;
    background-color: rgba(0, 0, 0, 0); }
  .sub-menu__item {
    width: auto;
    transform: scale(1); }
  .sub-menu__banner {
    transform: scale(1); }
  .link {
    color: white;
    padding: 10px 14px;
    text-align: center; }
  .link__menu {
    width: 200px;
    margin: 0 auto;
    font-size: 25px;
    position: relative; }
  .link__arrow:after {
    bottom: auto;
    left: auto;
    top: 23px;
    right: 0; }
  .link__item-list-title {
    color: white; }
  .link__item-list {
    color: white; }
  .sub-menu__mens {
    left: -15px; }
  .sub-menu__womens {
    left: -100px; }
  .basket:after {
    right: 0; } }

@media (max-width: 750px) {
  .header__top-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .currency {
    padding: 10px 0px;
    margin-right: 0; }
  .header__top-search {
    width: 100%;
    height: 30px; }
  .search {
    width: 100%; }
  .authorization__item {
    padding: 15px 18px; }
  .menu-burger_active {
    position: fixed;
    top: 10px;
    right: 20px; } }

@media (max-width: 750px) {
  .intro-description {
    font-size: 25px; } }

@media (max-width: 1170px) {
  .location-details {
    flex-direction: column;
    max-height: none; }
  .map {
    width: 100%;
    height: 300px; }
  .address-details {
    width: 100%;
    box-sizing: border-box; } }

@media (max-width: 750px) {
  .content__brand {
    justify-content: center;
    flex-wrap: wrap; }
  .content__item {
    width: 100%; }
  .content__hand-designed-left {
    display: none; }
  .content__hand-designed-right {
    display: block; }
  .content__article {
    margin-bottom: 30px; }
  .content__article_pad-t-65 {
    padding-top: 0; }
  .content-awards {
    align-items: center;
    justify-content: center; }
  .locations {
    flex-wrap: wrap; }
  .locations__item {
    width: 100%; } }

@media (max-width: 1170px) {
  .slider__women-collection-second {
    background-position: right; } }

@media (max-width: 750px) {
  .slider {
    top: -74px; }
  .slider__item {
    height: calc(100vh - 130px); } }

@media (max-width: 1170px) {
  .goods__content {
    flex-wrap: wrap; }
  .goods__left-side,
  .goods__right-side {
    width: 100%;
    justify-content: center;
    align-items: center; }
  .goods-card__home_lg {
    width: auto; }
  .list__goods-nav {
    justify-content: space-between; }
  .link__goods-nav {
    color: #727272; } }

@media (max-width: 750px) {
  .goods-card__home_sm {
    width: 100%;
    margin-right: 0; }
  .info__btn-wrapper {
    max-width: 120px; } }

@media (max-width: 1170px) {
  .lookbook-wrapper {
    flex-wrap: wrap; }
  .lookbook {
    width: 100%;
    margin-bottom: 20px; }
  .lookbook__title {
    width: auto; }
  .lookbook__description {
    width: 470px; }
  .lookbook__men:before,
  .lookbook__women:before,
  .lookbook__you:before {
    left: 80px; } }

@media (max-width: 750px) {
  .lookbook {
    align-items: center;
    padding-bottom: 80px; }
  .lookbook__men:before,
  .lookbook__women:before,
  .lookbook__you:before {
    display: none; }
  .lookbook__description {
    width: auto; } }

@media (max-width: 1170px) {
  .footer__sub-menu {
    flex-wrap: wrap; }
  .sub-menu__item-list {
    width: auto; }
  .footer__banners {
    flex-wrap: wrap; }
  .banner__footer {
    width: 100%; }
  .link__footer-title,
  .link__footer {
    color: #575153; } }

@media (max-width: 750px) {
  .list-banner {
    flex-wrap: wrap; }
  .link__list-banner {
    margin-bottom: 20px; }
  .copyright__wrapper {
    flex-direction: column;
    justify-content: center; }
  .copyright__item {
    margin-bottom: 15px;
    text-align: center;
    margin-right: 0; }
  .banner__content {
    font-size: 16px; }
  .footer__sub-menu {
    justify-content: center;
    align-items: center; }
  .list-contact {
    margin-top: 30px; }
  .list-contact__title {
    text-align: center; }
  .list-contact__item {
    text-align: center; } }
