@media (max-width: 1170px)
	.container
		width: 750px

@media (max-width: 750px)
	.container
		width: 320px
		
	.btn
		padding: 20px
		font-size: 12px

@media (max-width: 320px)
	.container
		min-width: 320px

